[delorean]
name=delorean-openstack-ceilometer-ec4848b9f0db227fdd03afd7e711d4c50d4af1fd
baseurl=http://trunk.rdoproject.org/centos7/ec/48/ec4848b9f0db227fdd03afd7e711d4c50d4af1fd_6112694a
enabled=1
gpgcheck=0
priority=1

[delorean-deps]
name=delorean dependencies
baseurl=http://buildlogs.centos.org/centos/7/cloud/x86_64/openstack-liberty
enabled=1
gpgcheck=0
priority=1
